header {
    background-color: #6F0E81;
}

.content-area .main-area {
    height: 43.75rem;
    background-color: rosybrown;
    display: flex;
    align-items: center;
    background-image: url("./assets/imagen-01.png");
}

.content-area .main-area .mensaje {
    margin-left: 10px;
}

.content-area .main-area .mensaje h1 {
    font-size: 50px;
}

.content-area .main-area .mensaje h1,p {
    color: white;
    padding-left: 0;
}

.content-area .main-area .mensaje button {
    height: 50px;
    width: 189px;
    border: none;
    background-color: #6F0E81;
    color: white;
}

header .container .menu-area {
    display: flex;
    justify-content: flex-end;
}

.container-fluid .titulo-slide {
   display: flex;
   margin-top: 40px;
   margin-bottom: 20px;
}

.container-fluid .titulo-slide h1 {
    margin: 0 auto;
 }

body .row .card img {
    height: 200px;
    width: 200px;
    align-self: center;
    margin-top: 10px;
}

body .row .card p,h4 {
    color: black;
text-align: center;
}

body .row .card {
  
    justify-content: center;
    padding-top: 10px;
    
}

#area-slide {
    background-color: #F5F5F5;
    padding: 50px;
}

