header {
    background-color: #6F0E81;
}

.content-area .main-area {
    height: 43.75rem;
    background-color: rosybrown;
    display: flex;
    align-items: center;
    background-image: url("./assets/imagen-01.png");
}

.content-area .main-area .mensaje {
    margin-left: 10px;
}

.content-area .main-area .mensaje h1 {
    font-size: 50px;
}

.content-area .main-area .mensaje h1,p {
    color: white;
    padding-left: 0;
}

.content-area .main-area .mensaje button {
    height: 50px;
    width: 189px;
    border: none;
    background-color: #6F0E81;
    color: white;
}

header .container .menu-area {
    display: flex;
    justify-content: flex-end;
}

.carousel-inner {
    background-color: #F5F5F5;
    height: 43.75rem;
}

.carousel-inner .carousel-item {
    display: flex;
    align-items: center;

}

